$ft-playground-padding: 40px !default;

.ft-playground {
  padding: $ft-playground-padding;
  text-align: center;
  background-color: #eee;
  background-image: resolve('features/playground/sackmesser.png');
  background-size: contain;
}

